%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br/
    = f.email_field :email, :autofocus => true
  %div
    = f.label :password
    %br/
    = f.password_field :password
  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  %div
    = f.label :security_question_id
    %i (Select a security question and provide the answer)
    %br/
    = f.collection_select :security_question_id, SecurityQuestion.all, :id, :name, :include_blank => "Select a Question"
    %br    
    = f.label :security_question_answer
    %br/
    = f.text_field :security_question_answer
    
  %div= f.submit "Sign up"
= render "confirmable/shared/links"
