= simple_form_for :conversation, url: :conversations do |f|
  Sending a message to  
  = @recipient.display_name
  = f.input :recipient_id, :as => :hidden, :input_html => { :value => @recipient.user_id}
  = f.input :subject, :as => :hidden, :input_html => {:value => 'message'}
  = f.input :body, :as => :text
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'