.field
  = therapist_form.fields_for :therapist_license do |license_form|
    .field
      = license_form.label :license_number
      = license_form.text_field :license_number
    .field
      = license_form.label :state
      = license_form.text_field :state
    .field
      = license_form.label :start_date
      = license_form.date_select :start_date, start_year: 2000, end_year: 2050, include_blank: true
    .field
      = license_form.label :end_date
      = license_form.date_select :end_date, start_year: Date.today.year, end_year: 2050, include_blank: true
    .field
      = license_form.hidden_field :id
    = license_form.link_to_remove "Remove this license"
    %p
  %p
    = therapist_form.link_to_add "Add a license", :therapist_license
